# 시스템 / 개발툴 관련
.DS_Store
.vscode/
**/.vscode
**/.vs
**/.settings
**/.classpath
**/.project
**/.toolstarget

# Node 관련
node_modules
dist
**/node_modules
npm-debug.log
*.log

# 환경설정
.env
**/.env
**/*.dbmdl
**/*.jfm
**/*.user
coverage/

# Docker
Dockerfile*
**/Dockerfile*
**/docker-compose*
**/compose*

# 민감 정보
**/secrets.dev.yaml
**/values.dev.yaml
.env

# 보통은 커밋에 포함하는 파일 (필요 없으면 유지)
# LICENSE
# README.md